@media (max-width: 800px) {
  #index_first_section {
    background-image: url(images/portfolio_splash_mobile.webp);
    background-size: contain;
    aspect-ratio: 4 / 5;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  #center {
    grid-column: 6 / 9;
    grid-row: 7 / 8;

    padding: 0.3em;
    border-radius: 25%;
  }

  .ul_main a {
    font-size: 1.7em;
    padding: 0.3em;
    color: var(--clr-sekundaer);
    text-decoration: none;
  }

  .ul_first,
  .ul_second {
    font-size: 0.7em;
    letter-spacing: 0.1em;
    position: absolute;
    border-radius: 2%;
    width: 100%;
    display: none;
  }

  .ul_third,
  .ul_fourth {
    font-family: var(--ff-tekst);
    font-size: 1em;
    letter-spacing: 0.1em;
    position: absolute;
    border-radius: 2%;
    width: 100%;
    display: none;
  }

  .ul_first {
    transform: rotate(52deg);
    top: -50px;
    left: -65px;
  }

  .ul_second {
    transform: rotate(-50deg);
    top: -40px;
    left: 60px;
  }

  .ul_third {
    transform: rotate(50deg);
    top: 50px;
    left: 60px;
  }

  .ul_fourth {
    transform: rotate(-48deg);
    top: 50px;
    left: -65px;
  }

  #venstre_upper {
    font-size: 1.5em;

    grid-column: 5;
    grid-row: 4;

    transform: rotate(55deg);
  }

  #hoejre_upper {
    font-size: 1.5em;

    grid-column: 9;
    grid-row: 4;

    transform: rotate(-52deg);
  }

  #venstre_nedre {
    font-family: var(--ff-overskrift);
    color: var(--clr-primaer);
    font-size: 1.5em;

    grid-column: 5;
    grid-row: 9;

    transform: rotate(-50deg);
  }

  #hoejre_nedre {
    font-family: var(--ff-overskrift);
    color: var(--clr-primaer);
    font-size: 1.5em;

    grid-column: 9;
    grid-row: 9;

    transform: rotate(50deg);
  }
}

@media (min-width: 800px) {
  #index_first_section {
    background-image: url(images/portfolio_splash_desktop.webp);
    background-size: cover;
    aspect-ratio: 16 / 9;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  #center {
    grid-column: 5 / 9;
    grid-row: 6 / 8;

    padding: 0.3em;
    border-radius: 25%;
  }

  .ul_main a {
    font-size: 2.5em;
    padding: 0.3em;
    color: var(--clr-sekundaer);
    text-decoration: none;
  }

  .ul_first,
  .ul_second {
    font-size: 0.7em;
    letter-spacing: 0.1em;
    position: absolute;
    border-radius: 2%;
    width: 100%;
    display: none;
  }

  .ul_third,
  .ul_fourth {
    font-family: var(--ff-tekst);
    font-size: 1.8em;
    letter-spacing: 0.1em;
    position: absolute;
    border-radius: 2%;
    width: 100%;
    display: none;
  }

  .ul_first {
    transform: rotate(40deg);
    top: -45px;
    left: -130px;
  }

  .ul_second {
    transform: rotate(-40deg);
    top: -35px;
    left: 130px;
  }

  .ul_third {
    transform: rotate(40deg);
    top: 50px;
    left: 150px;
  }

  .ul_fourth {
    transform: rotate(-40deg);
    top: 55px;
    left: -140px;
  }

  #venstre_upper {
    font-size: 2em;

    grid-column: 4;
    grid-row: 4;

    transform: rotate(40deg);
  }

  #hoejre_upper {
    font-size: 2em;

    grid-column: 9;
    grid-row: 4;

    transform: rotate(-40deg);
  }

  #venstre_nedre {
    font-family: var(--ff-overskrift);
    color: var(--clr-primaer);
    font-size: 2em;

    grid-column: 4;
    grid-row: 9;

    transform: rotate(-40deg);
  }

  #hoejre_nedre {
    font-family: var(--ff-overskrift);
    color: var(--clr-primaer);
    font-size: 2em;

    grid-column: 9;
    grid-row: 9;

    transform: rotate(40deg);
  }
}

ul {
  list-style: none;
  position: relative;
  text-align: center;
}

li {
  border-radius: 2%;
}

a {
  font-family: var(--ff-tekst);
}

li:hover .ul_first {
  display: block;
}

li:hover .ul_second {
  display: block;
}

li:hover .ul_third {
  display: block;
}

li:hover .ul_fourth {
  display: block;
}

.ul_first li,
.ul_third li,
.ul_second li,
.ul_fourth li {
  padding: 0.3em;
}

.ul_first a,
.ul_second a {
  color: var(--clr-primaer);
  transition: 0.3s ease;
}

.ul_third,
.ul_fourth {
  color: var(--clr-primaer);
}

.ul_first a:hover,
.ul_second a:hover {
  color: var(--clr-sekundaer);
  transition: 0.3s ease;
  background: var(--clr-primaer);
  border-radius: 15%;
}

#venstre_upper a,
#hoejre_upper a {
  font-family: var(--ff-overskrift);
  color: var(--clr-primaer);
  text-decoration: none;
  padding: 0.2em;
}

#venstre_upper a:hover,
#hoejre_upper a:hover {
  color: var(--clr-sekundaer);
  transition: 0.3s ease;
  background: var(--clr-primaer);
  border-radius: 15%;
}
