body {
  background-color: #5c5857;
}

h2 {
  font-family: "Abel", sans-serif;
  margin: 0%;
  line-height: 1.5;
}

p {
  font-family: "Merriweather", sans-serif;
  margin: 0%;
  line-height: 1.5;
}

.projektside_boks_p_01 {
  color: #4f84b1;
}

#projektside_first_section_wrapper_01 {
  display: flex;
  place-content: center;
}

#projektside_first_section_h1 {
  font-family: "Cinzel", sans-serif;
  font-size: 4rem;
  padding: 0.5em;
  color: snow;
}

#projektside_first_section_wrapper_02 {
  display: flex;
  place-content: center;

  max-width: 40em;
}

#projektside_first_section_p {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
  color: #24201d;
  background: snow;
  border-radius: 2%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-shadow: 0 12px 28px 0;
}

.projektside_container {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.projektside_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 0.5em;
}

.projektside_boks {
  aspect-ratio: 1 / 1.9;
}

.projektside_boks_img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.projektside_boks_img {
  aspect-ratio: 1 / 1.25;
  border-radius: 2%;
}

.til_boks {
  display: grid;
}

.til_boks > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.projektside_boks_indhold {
  background: white;
  align-self: end;
  margin-top: 0.7em;
  margin-right: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 1em;

  border-radius: 2%;

  padding: 0.7em;

  box-shadow: 0 0.5em 2em 0;
}

#projektside_third_section_wrapper {
  background-image: linear-gradient(#5c5857, #24201d);
  width: 100%;
  height: 20vh;
}

/* Nedenstående er blot for at få "Til toppen"-knappen at positionere sig i midten */
#projektside_third_section_wrapper {
  display: flex;
}

#projektside_third_section_wrapper a {
  font-family: var(--ff-tekst);
  font-size: 3em;
  text-decoration: none;
  color: var(--clr-baggrund-moerk);
  transition: 0.3s ease;
}

#projektside_third_section_wrapper a:hover {
  color: snow;
}
